@import "root.css";

body {
    max-width: 1280px;
    margin: 0 auto;
    padding: .5rem;
}

header {
    margin-bottom: 2rem;
}

.links {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.links a {
    padding: 1rem 2rem;
    margin-left: 1rem;
    text-decoration: none;
    color: var(--color);
    border: 1px solid var(--border-color);
}

.libros-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1rem;
    justify-content: center;
}

.libro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    border: 1px solid var(--border-color);
    padding: .5rem 1rem;
}

.libro > p {
    font-weight: bold;
    text-align: center;
    margin: 0
}

.libro-title {
    text-align: center;
    font-size: 1.2rem;
}

.libro-img {
    width: 70%;
    max-height: 275px;
}

.footer {
    margin: 2rem 1rem 1rem 1rem;
    padding: .5rem;
    text-align: center;
    border: 1px solid var(--border-color);
}

@media (max-width: 992px) {
    .libros-container { grid-template-columns: repeat(2, minmax(0, 1fr)); }
    .libro-img { max-height: 350px;}
}

@media (max-width: 576px) {
    .libros-container { grid-template-columns: 1fr; }
    .links { justify-content: space-between; }
    .links a {
        margin: 0px;
        padding: .5rem 1rem;
    }
    .links a:not(:first-child) { margin-left: .5rem; }
}